body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100vh;  /*define an actual height*/
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px auto;
  grid-template-areas: 
      "header"
      "main";
}

.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

header {
  grid-area: header;
  background-color: white;
  display: grid;
  grid-template-columns: auto 80px;
  grid-template-rows: auto;
  grid-template-areas: 
      "aside1 nav";
}
nav:nth-of-type(1) {
  grid-area: aside1;
}
nav:nth-of-type(2) {
  grid-area: nav;
  margin: 15px;
  align-items: flex-end;
  justify-items: flex-end;
}

main {
  grid-area: main;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  text-align: left;
  background-position: 50% 50%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 170px 80px 700px 700px;
  grid-template-areas: 
      "title"
      "subtitle"
      "table1"
      "table2"
      "blacklist";
}

section {
  display: flex;
}

section:nth-of-type(1) {
  grid-area: title;
  padding-left: 60px;
  /* overflow: hidden; */
  align-items: center;
  justify-items: center;
} 

section:nth-of-type(2) {
  grid-area: subtitle;
  align-items: right;
  justify-items: center;
  padding-left: 60px;
}

section:nth-of-type(3) {
  grid-area: table1;
  /* padding-left: 50px; */
  flex-direction: column;
  align-items: center;
  /* justify-items: center; */
  display: grid;
  grid-template-rows: 120px 200px 150px 150px;
  grid-template-columns: 30vw 30vw auto;
  grid-template-areas: 
    "boardtitle boardtitle boardtitle"
    "badge name time"
    "badge2 name2 time2"
    "badge3 name3 time3";
}

section:nth-of-type(4) {
  grid-area: table2;
  /* padding-left: 50px; */
  flex-direction: column;
  align-items: center;
  /* justify-items: center; */
  display: grid;
  grid-template-rows: 120px 200px 150px 150px;
  grid-template-columns: 33vw 33vw auto;
  grid-template-areas: 
    "boardtitle boardtitle boardtitle2"
    "badge name time"
    "badge2 name2 time2"
    "badge3 name3 time3";
}
section:nth-of-type(5) {
  grid-area: blacklist;
  padding-left: 50px;
  flex-direction: column;
  align-items: center;
  /* justify-items: center; */
  display: grid;
  grid-template-rows: 120px 200px 150px 150px;
  grid-template-columns: 37vw 33vw auto;
  grid-template-areas: 
    "boardtitle boardtitle boardtitle2"
    "badge name time"
    "badge2 name2 time2"
    "badge3 name3 time3";
}

.timer{
  line-height: auto;
  padding-left: 10px;
  padding-top: 200px;
  text-align: left;
  padding-right: 10px;
  font-family: bilo,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40pt;
  color: black;
}

.boardtitle {
  grid-area: boardtitle;
  display: flex;
  padding-left: 60px;
}

.badge {
  grid-area: badge;
  display: flex;
  justify-content: center;
  align-content: center;
}

.name {
  grid-area: name;
  display: flex;
}

.time {
  grid-area: time;
  display: flex;
  justify-content: center;
  align-content: center;
}

.badge2 {
  grid-area: badge2;
  display: flex;
  justify-content: center;
  align-content: center;
}

.name2 {
  grid-area: name2;
  display: flex;
}

.time2 {
  grid-area: time2;
  display: flex;
  justify-content: center;
  align-content: center;
}

.badge3 {
  grid-area: badge3;
  display: flex;
  justify-content: center;
  align-content: center;
}

.name3 {
  grid-area: name3;
  display: flex;
}

.time3 {
  grid-area: time3;
  display: flex;
  justify-content: center;
  align-content: center;
}

.boardtitle2 {
  grid-area: boardtitle2;
  display: flex;
  /* padding-left: 60px; */
  /* padding-left: 17vw; */
}



H1{ 
  line-height: auto;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Lexend', sans-serif;
  font-size:100px;
  color: black;
}

H2{ 
  line-height: auto;
  text-align: left;
  font-family: gimlet-display, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
  transform:scale(1,2);
  /* font-family: 'Lexend', sans-serif;
  font-size:50px; */
  color: black;
}

h3 {
  line-height: auto;
  /* padding-left: 10px; */
  text-align: left;
  padding-right: 10px;
  font-family: bilo,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40pt;
  /* font-family: 'Lexend', sans-serif;
  font-size:28px; */
  color: black;
}

h4 {
  line-height: auto;
  /* padding-left: 10px; */
  text-align: left;
  padding-right: 10px;
  padding-top: 0px;
  font-family: bilo,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 35pt;
  /* font-family: 'Lexend', sans-serif;
  font-size:28px; */
  color: black;
}

p {
  line-height: auto;
  padding-left: 20px;
  text-align: left;
  padding-right: 10px;
  font-family: bilo,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20pt;
  /* font-family: 'Lexend', sans-serif;
  font-size:28px; */
  color: black;
}

button {
  /* background-color: #F7BC77; */
  border: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  display: inline-block;
  font-size: 24px;
  font-family: 'Lexend', sans-serif;
  cursor: pointer;
  /* align-self: center;
  justify-self: center; */
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: 0.3s;
  filter: brightness(115%);
}
/* 
img {
  align-self: ;
} */
      
      
      
      
      
      
      /* body{
        background-image: url('../img/backdrop_2.jpg');
        background-repeat: no-repeat;
        background-size: 100%, 100%;
      }
       br{
        display: block;
        line-height: 10px;
         }

         /* custom fonts */
        /* H1{ 
          line-height: 1.5rem;
          padding-top: 20px;
          padding-bottom: 1rem;
          padding-left: 20px;
          padding-right: 20px;
          font-family: 'Cormorant SC', Georgia, Serif;
          font-size:80px;
          color: #fbf0ff;
        }
        H2{ 
          line-height: 0.75rem;
          padding-left: 20px;
          padding-right: 20px;
          font-family: 'Cormorant SC', Helvetica, Sans-Serif;
          font-size:28px;
        }
        H3{
          padding-left: 20px;
          padding-right: 20px;
          font-family: Helvetica, Sans-Serif; 
          font-size:18px;
        }
        p{ 
          line-height: 1.2rem;
          padding-left: 20px; 
          padding-right: 20px;
          font-family: Helvetica, Sans-Serif; 
          font-size:16px
        } */

        /* custom links */
        /*a:link, a:visited {  unvisited and visited link */
        /* color: black;
        text-decoration: none;
        font-family: Helvetica, Sans-Serif; 
        } */

        /* mouse over link */
        /* a:hover {
        color: #fc35d1;
        text-decoration: none;
        font-family: Helvetica, Sans-Serif; 
        }
        img{
          width: 200px;
          height: 150px;
          background-color: #eefffe;
          padding: 10px;
          border: 2px solid rgb(255, 192, 235);
          border-radius: 10px;
          margin: 0px 20px 0px 20px;
        }  */