body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100vh;  /*define an actual height*/
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5% auto;
  grid-template-areas: 
      "header"
      "main";
}

.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

header {
  grid-area: header;
  background-color: white;
  display: grid;
  grid-template-columns: auto 100px;
  grid-template-rows: auto;
  grid-template-areas: 
      "aside1 nav";
}
nav:nth-of-type(1) {
  grid-area: aside1;
}
nav:nth-of-type(2) {
  grid-area: nav;
  margin: 12px;
  align-items: flex-end;
  justify-items: flex-end;
}

main {
  grid-area: main;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  background-position: 50% 50%;
  display: grid;
  grid-gap: 30px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 25px;
  /* align-content: center; */
  justify-content: center;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 15% 8% 31% 31%;
  grid-template-areas: 
      "title title title title title title"
      "summary summary summary summary summary summary"
      "badge1 badge2 badge3 badge4 badge5 badge6"
      "badge7 badge8 badge9 badge10 badge11 badge12";
}
 /* 8 columns 4 rows*/
section {
  display: flex;
}

@media screen and (max-width: 1080px) {
  body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;  /*define an actual height*/
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% auto;
    grid-template-areas: 
        "header"
        "main";
  }
  header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: auto;
    grid-template-areas: 
        "aside1 nav";
  }
  main {
    align-content: center;
    justify-content: center;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 10% 8% 20% 20% 20% 20%;
    grid-template-areas: 
    "title title title"
    "summary summary summary"
    "badge1 badge2 badge3"
    "badge4 badge5 badge6"
    "badge7 badge8 badge9"
    "badge10 badge11 badge12";
  } 
}

@media screen and (max-width: 700px) {
  body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;  /*define an actual height*/
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% auto;
    grid-template-areas: 
        "header"
        "main";
  }
  header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: auto;
    grid-template-areas: 
        "aside1 nav";
  }
  main {
    align-content: center;
    justify-content: center;
    grid-template-columns: 33% 33%;
    grid-template-rows: 8% 8% 12% 12% 12% 12% 12% 12%; 
    grid-template-areas: 
    "title title"
    "summary summary"
    "badge1 badge2"
    "badge3 badge4"
    "badge5 badge6"
    "badge7 badge8"
    "badge9 badge10"
    "badge11 badge12";
  } 
}

section:nth-of-type(1) {
  grid-area: title;
  align-items: flex-start;
  /* justify-items: flex-end; */
}

section:nth-of-type(2) {
  grid-area: summary;
  align-items: flex-start;
  justify-items: flex-start;
  padding-bottom:30px;
}

section:nth-of-type(3) {
  grid-area: badge1;
  grid-gap: 15px;
  flex-direction: column;
  justify-items: center;
  display: grid;
  grid-template-rows: 20% 20% auto;
  grid-template-columns: auto;
  grid-template-areas:
    "badge"
    "title"
    "description";
}

section:nth-of-type(4) {
  grid-area: badge2;
  grid-gap: 15px;
  flex-direction: column;
  justify-items: center;
  display: grid;
  grid-template-rows: 20% 20% auto;
  grid-template-columns: auto;
  grid-template-areas:
    "badge"
    "title"
    "description";
}

section:nth-of-type(5) {
  grid-area: badge3;
  grid-gap: 15px;
  flex-direction: column;
  justify-items: center;
  display: grid;
  grid-template-rows: 20% 20% auto;
  grid-template-columns: auto;
  grid-template-areas:
    "badge"
    "title"
    "description";
}

section:nth-of-type(6) {
  grid-area: badge4;
  grid-gap: 15px;
  flex-direction: column;
  justify-items: center;
  display: grid;
  grid-template-rows: 20% 20% auto;
  grid-template-columns: auto;
  grid-template-areas:
    "badge"
    "title"
    "description";
}

section:nth-of-type(7) {
  grid-area: badge5;
  grid-gap: 15px;
  flex-direction: column;
  justify-items: center;
  display: grid;
  grid-template-rows: 20% 20% auto;
  grid-template-columns: auto;
  grid-template-areas:
    "badge"
    "title"
    "description";
}

section:nth-of-type(8) {
  grid-area: badge6;
  grid-gap: 15px;
  flex-direction: column;
  justify-items: center;
  display: grid;
  grid-template-rows: 20% 20% auto;
  grid-template-columns: auto;
  grid-template-areas:
    "badge"
    "title"
    "description";
}

section:nth-of-type(9) {
  grid-area: badge7;
  grid-gap: 15px;
  flex-direction: column;
  justify-items: center;
  display: grid;
  grid-template-rows: 20% 20% auto;
  grid-template-columns: auto;
  grid-template-areas:
    "badge"
    "title"
    "description";
}

section:nth-of-type(10) {
  grid-area: badge8;
  grid-gap: 15px;
  flex-direction: column;
  justify-items: center;
  display: grid;
  grid-template-rows: 20% 20% auto;
  grid-template-columns: auto;
  grid-template-areas:
    "badge"
    "title"
    "description";
}

section:nth-of-type(11) {
  grid-area: badge9;
  grid-gap: 15px;
  flex-direction: column;
  justify-items: center;
  display: grid;
  grid-template-rows: 20% 20% auto;
  grid-template-columns: auto;
  grid-template-areas:
    "badge"
    "title"
    "description";
}

section:nth-of-type(12) {
  grid-area: badge10;
  grid-gap: 15px;
  flex-direction: column;
  justify-items: center;
  display: grid;
  grid-template-rows: 20% 20% auto;
  grid-template-columns: auto;
  grid-template-areas:
    "badge"
    "title"
    "description";
}

section:nth-of-type(13) {
  grid-area: badge11;
  grid-gap: 15px;
  flex-direction: column;
  justify-items: center;
  display: grid;
  grid-template-rows: 20% 20% auto;
  grid-template-columns: auto;
  grid-template-areas:
    "badge"
    "title"
    "description";
}

section:nth-of-type(14) {
  grid-area: badge12;
  grid-gap: 15px;
  flex-direction: column;
  justify-items: center;
  display: grid;
  grid-template-rows: 20% 20% auto;
  grid-template-columns: auto;
  grid-template-areas:
    "badge"
    "title"
    "description";
}

.badge {
  grid-area: badge;
  align-items: flex-end;
  display: flex;
}

.title {
  grid-area: title;
  align-items: center;
  /* justify-items: center; */
  display: flex;
}

.description {
  grid-area: description;
  align-items: flex-start;
  justify-items: center;
  display: flex;
}

H1{ 
  line-height: auto;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Lexend', sans-serif;
  font-size:100px;
  color: black;
}

H2{ 
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: bilo,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24pt;
  color: black;
}

H3{ 
  line-height: auto;
  text-align: center;
  padding-top: 10px;
  font-family: gimlet-display, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 60;
  transform:scale(1.5,3);
  line-height: 16px;
  color: black;
}

p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
  font-family: bilo,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16pt;
  color: black;
}

button {
  /* background-color: #F7BC77; */
  border: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  display: inline-block;
  font-size: 24px;
  font-family: 'Lexend', sans-serif;
  /* align-self: center;
  justify-self: center; */
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: 0.3s;
  filter: brightness(115%);
}
