body {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100vh;  /*define an actual height*/
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5% auto;
  grid-template-areas: 
      "header"
      "main";
}

.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

header {
  grid-area: header;
  background-color: white;
  display: grid;
  grid-template-columns: auto 100px;
  grid-template-rows: auto;
  grid-template-areas: 
      "aside1 nav";
}
nav:nth-of-type(1) {
  grid-area: aside1;
}
nav:nth-of-type(2) {
  grid-area: nav;
  margin: 5px;
  background-color: black;
}

main {
  grid-area: main;
  background-image: url('../img/mainBuilding.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  text-align: left;
  background-position: 50% 50%;
  display: grid;
  grid-template-columns: 5% 30% 25% auto;
  grid-template-rows: 20% 15% auto;
  grid-template-areas: 
      "nothing title title title"
      "nothing subtitle subtitle subtitle"
      "nothing text info button";
}

section {
  display: flex;
}

section:nth-of-type(1) {
  background-color: blue;
  grid-area: title;
  overflow: hidden;
  align-items: center;
  justify-items: center;
} 

section:nth-of-type(2) {
    background-color: orange;
  grid-area: subtitle;
  align-items: right;
  /* justify-items: center; */
}

section:nth-of-type(3) {
    background-color: green;
  grid-area: text;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

section:nth-of-type(4) {
  background-color: yellow;
  grid-area: info;
  flex-direction: column;
}

section:nth-of-type(5) {
  grid-area: button;
  background-color: lightpink;
  flex-direction: column;
  /* align-self: center; */
  justify-self: center;
  padding-top: 5vh;
  /* padding-left: 3vw;
  padding-right: 3vw; */
}

section:nth-of-type(6) {
  background-color: black;
  grid-area: nothing;
} 

H1{ 
  line-height: auto;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Lexend', sans-serif;
  font-size:100px;
  color: black;
}

H2{ 
  line-height: auto;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Lexend', sans-serif;
  font-size:50px;
  color: black;
}

p {
  padding-left: 10px;
  text-align: left;
  padding-right: 10px;
  font-family: 'Lexend', sans-serif;
  font-size:28px;
  color: black;
}

button {
  /* background-color: #F7BC77; */
  border: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  display: inline-block;
  font-size: 24px;
  font-family: 'Lexend', sans-serif;
  /* align-self: center;
  justify-self: center; */
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: 0.3s;
  filter: brightness(115%);
}

/* img {
  padding-left: 100px;
} */
      
      
      
      
      
      
      /* body{
        background-image: url('../img/backdrop_2.jpg');
        background-repeat: no-repeat;
        background-size: 100%, 100%;
      }
       br{
        display: block;
        line-height: 10px;
         }

         /* custom fonts */
        /* H1{ 
          line-height: 1.5rem;
          padding-top: 20px;
          padding-bottom: 1rem;
          padding-left: 20px;
          padding-right: 20px;
          font-family: 'Cormorant SC', Georgia, Serif;
          font-size:80px;
          color: #fbf0ff;
        }
        H2{ 
          line-height: 0.75rem;
          padding-left: 20px;
          padding-right: 20px;
          font-family: 'Cormorant SC', Helvetica, Sans-Serif;
          font-size:28px;
        }
        H3{
          padding-left: 20px;
          padding-right: 20px;
          font-family: Helvetica, Sans-Serif; 
          font-size:18px;
        }
        p{ 
          line-height: 1.2rem;
          padding-left: 20px; 
          padding-right: 20px;
          font-family: Helvetica, Sans-Serif; 
          font-size:16px
        } */

        /* custom links */
        /*a:link, a:visited {  unvisited and visited link */
        /* color: black;
        text-decoration: none;
        font-family: Helvetica, Sans-Serif; 
        } */

        /* mouse over link */
        /* a:hover {
        color: #fc35d1;
        text-decoration: none;
        font-family: Helvetica, Sans-Serif; 
        }
        img{
          width: 200px;
          height: 150px;
          background-color: #eefffe;
          padding: 10px;
          border: 2px solid rgb(255, 192, 235);
          border-radius: 10px;
          margin: 0px 20px 0px 20px;
        }  */